.expense-input {
  font-size: 14px;
  border: none;
  height: 32px;
  color: #52526A;
  font-weight: 500;
  &:focus {
    outline: none;
  }
  &-name {
    @extend .expense-input;
    text-indent: 10px;
  }
  &-amount {
    @extend .expense-input;
    text-align: right;
    padding-right: 5px;
  }
}
.total {
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #250B38;

  &-receipt {
    @extend .total;
    font-size: 18px;
    text-align: right;
  }
  &-all {
    @extend .total;
    font-size: 20px;
  }
}

.receipt-categories {
  border: none;
  height: 32px;
  color: #52526A;
  text-indent: 10px;
  font-weight: 600;
  // appearance: none;
  option {
    border-bottom: #52526A 1px solid;
  }
}