.custom-select-container {
	display: inline-block;
	min-width: 170px;
	text-align: center;
	position: relative;
}

.selected-text {
	background-color: #fff;
	padding: 6px 20px;
	border-radius: 4px;
	text-align: left;
	font-weight: 600;
	color: #52526a;
}

.selected-text::after {
	content: "";
	position: absolute;
	right: 10px;
	top: 13px;
	border: solid #f0a023;
	border-width: 0 2px 2px 0;
	padding: 3px;
	transform: rotate(45deg);
}

.selected-text.active::after {
	top: 14px;
	transform: rotate(-135deg);
}

ul {
	margin: 0;
	padding: 0;
}

.select-options {
	position: absolute;
	width: 100%;
	padding: 7px 11px;
	border-radius: 4px;
	background-color: #fff;
	z-index: 1000;
	width: 300px;
	box-shadow: 0 0 18px 0 rgba(37, 11, 56, 0.25);
}

@media screen and (max-width: 480px) {
	.select-options {
		width: 88vw;
	}
}

li {
	list-style-type: none;
	padding: 3px 6px;

	background: #fff;
	border-bottom: 1px solid #e8dfed;
	height: 34px;
	cursor: pointer;
	text-align: left;
	font-weight: 600;
	color: #52526a;
	border-radius: 2px;
}
li:last-child {
	border: none;
}
li:hover {
	background-color: #f0a023;
	color: #fff;
}
